/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #0a0a0a;
  color: white;
  font-family: 'Gugi', cursive;
  letter-spacing: 1px;
  line-height: 30px;
}
h1 {
  font-size: 2rem;
  margin: 10px 0;
}
p {
  font-size: 1.2rem;
}
/* Main container */
.mainContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Header */
  /* Main banner */
  /* Features */
  /* Jump image */
  /* Testimonials */
  /* Footer */
}
.mainContainer header {
  width: 100%;
  background-image: linear-gradient(45deg, #181425, #172a38);
  margin-bottom: 25px;
}
.mainContainer header .navBar {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.mainContainer header .navBar h1 {
  margin-left: 50px;
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
}
.mainContainer header .navBar nav {
  margin-left: auto;
}
.mainContainer header .navBar nav a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  margin: 0 40px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 20px;
  border-radius: 5px;
}
.mainContainer header .navBar nav a:hover {
  color: white;
  background-color: lightgrey;
}
.mainContainer .banner {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/bball.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-size: 100% 100%;
  width: 95vw;
  height: 80vh;
}
.mainContainer .banner .bannerText {
  position: absolute;
  width: 40%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.2);
  padding: 35px 10px;
  border-radius: 10px;
}
.mainContainer .banner .bannerText h1 {
  margin: 25px 0;
  font-style: italic;
  letter-spacing: 8px;
}
.mainContainer .banner .bannerText p {
  font-style: italic;
  margin: 25px 0;
}
.mainContainer .featureContainer {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
  background: linear-gradient(to bottom, #171d22 50%, #182923 100%);
  justify-content: space-evenly;
  border-radius: 10px;
}
.mainContainer .featureContainer .featureHeading {
  width: 80%;
  margin-top: 25px;
  text-align: center;
}
.mainContainer .featureContainer .featureHeading h1 {
  font-size: 2rem;
}
.mainContainer .featureContainer .featurePanel {
  width: 25%;
  height: 300px;
  margin: 30px 0;
  padding: 30px 2%;
  text-align: center;
  background-color: #0f0f0f;
  border-radius: 10px;
}
.mainContainer .featureContainer .featurePanel .fa-bolt {
  color: #ffff96;
  margin-bottom: 10px;
}
.mainContainer .featureContainer .featurePanel .fa-angle-double-up {
  color: lightcoral;
  margin-bottom: 10px;
}
.mainContainer .featureContainer .featurePanel .fa-chart-bar {
  color: lightgreen;
  margin-bottom: 10px;
}
.mainContainer #jump {
  width: 95%;
  height: 300px;
}
.mainContainer .testContainer {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  background: linear-gradient(to top, #171d22 50%, #182923 100%);
  justify-content: space-evenly;
  border-radius: 10px;
}
.mainContainer .testContainer .testHeading {
  width: 80%;
  margin-top: 30px;
  text-align: center;
}
.mainContainer .testContainer .testHeading h1 {
  font-size: 2rem;
}
.mainContainer .testContainer .testPanel {
  width: 30%;
  height: 300px;
  margin: 30px 0;
  padding-top: 20px;
  text-align: center;
  background-color: #0f0f0f;
  border-radius: 20px;
}
.mainContainer footer {
  width: 100%;
  height: 225px;
  background-color: black;
  display: flex;
  background-image: linear-gradient(45deg, #181425, #172a38);
}
.mainContainer footer .footerBox {
  width: 33%;
  height: 100px;
  padding: 40px;
}
.mainContainer footer .footerBox span {
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 2rem;
  border-bottom: 5px solid #003e64;
}
.mainContainer footer .footerBox .fab {
  margin-right: 20px;
}
.mainContainer footer .footerBox a {
  color: white;
}
