/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: rgba(10,10,10,1);
    color: white;
    font-family: 'Gugi', cursive;
    letter-spacing: 1px;
    line-height: 30px;
}

h1 {
    font-size: 1.8rem;
    margin: 10px auto;
    width: 98%;

    @media (max-width:700px) {
        font-size: 1.6rem;
    }
}

hr {
    width: 80%;
    margin: 20px auto;

    height: 5px;
    background-color: rgb(0, 62, 100);
    border: none;
    border-radius: 10px;
}

p {
    width: 80%;
    margin: 0 auto;

    @media (min-width:700px) {
        font-size: 14px;
    }
    @media (min-width:700px) {
        font-size: 16px;
    }
}

// Compartmentalized header and footer less files for reusability
@import "header.less";
@import "footer.less";

/* Main container */

.mainContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1800px;

    /* Banner / Hero image */
    .banner {
        /* Temp background URL to work with github */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://raw.githubusercontent.com/bwjumptracker/DylanRepo/dylan-gosnell/img/bball.jpg");
        background-repeat: no-repeat;
        text-align: center;
        background-size: 100% 100%;
        width: 100vw;
        height: 80vh;
        max-width: 1800px;

        /* Text box */
        .bannerText {
            position: relative;
            width: 43%;
            top: 28%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            background: rgba(0, 0, 0, 0.2);
            padding: 35px 10px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.50);

            @media( max-width: 700px ) {
                top: 36%;
                width: 60%;
            }

            h1 {
                margin: 25px auto;
                font-style: italic;
                letter-spacing: 8px;
            }

            p {
                font-style: italic;
                margin: 25px 0;
            }
        }
    }

    /* Features */
    .featureContainer {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        background: linear-gradient(to bottom, rgb(23, 29, 34) 50%,rgb(24, 41, 35) 100%);
        justify-content: space-evenly;
        border-radius: 5px;
        padding: 20px 0;

        @media( max-width: 700px ) {
            flex-direction: column;
            align-items: center;
        }

        /* Heading */
        .featureHeading {
            width: 90%;
            text-align: center;

            h1 {
                font-size: 2rem;
            }
        }
        /* Panels */
        .featurePanel {
            width: 30%;
            min-height: 400px;
            margin: 15px 0;
            padding: 20px 0;

            text-align: center;
            background-color: rgb(15, 15, 15);
            border-radius: 10px;

            @media( max-width: 700px ) {
                width: 90%;
                min-height: 300px;
            }

            h1 {
                width: 90%;
            }

            .anim (@delay) {
                -webkit-animation: featurePulse 10s infinite; 
                animation: featurePulse 10s infinite;
                animation-delay: @delay;
                opacity: 0.05;
                
                @keyframes featurePulse {
                    0%      {opacity: 0.05;};
                        
                    50%     {opacity: 1;};
                        
                    100%    {opacity: 0.05;};
                }
            }

            .fa-bolt {
                color: yellow;
                margin-bottom: 10px;
                .anim(0.5s);
            }

            .fa-angle-double-up {
                color: red;
                margin-bottom: 10px;
                .anim(1.5s);
            }

            .fa-chart-bar {
                color: rgb(0, 255, 0);
                margin-bottom: 10px;
                .anim(2.5s);
            }
        }
    }

    /* Jump image */
    #jump {
        width: 95%;
        height: 300px;
    }

    /* Reviews */
    .reviewContainer {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        padding: 20px 0;
        background: linear-gradient(to top, rgb(23, 29, 34) 70%,rgb(24, 41, 35) 100%);
        justify-content: space-evenly;
        border-radius: 5px;

        @media( max-width: 700px ) {
            flex-direction: column;
            align-items: center;
        }

        /* Heading */
        .reviewHeading {
            width: 90%;
            text-align: center;

            h1 {
                font-size: 2rem;
            }

            /* Review stars */

            .starsSelector {
                margin: 15px auto;
                max-width: 300px;
                height: 105px;
                background-color: rgba(0,0,0,0.25);
                border-radius: 10px;
                padding: 10px 0;

                .stars {
                    color: goldenrod;
                    margin: 10px 0;
                    padding: 8px;
                }

                .fa-star {
                    padding: 10px 10px 12px 11px;
                }

            }

            .starSelected {
                background-color: rgba(0,0,0,0.25);
                border-radius: 10px;
            }
        }

        /* Panels */
        .reviewPanel {
            width: 30%;
            min-height: 300px;
            margin: 15px 0;
            padding: 20px 0;
            text-align: center;
            background-color: rgb(15, 15, 15);
            border-radius: 10px;

            h1 {
                width: 90%;
                height: 60px;
                padding-top: 10px;
                text-align: center;
            }

            .starContainer {
                color: goldenrod;
            }

            @media( max-width: 700px ) {
                width: 90%;
                min-height: 250px;
            }

            @media( min-width: 850px ) {
                min-height: 250px;
            }
        }
    }
}